<h6>Zestawienie</h6>
<hr>
<section id="main" class="content-body">
    <table class="table datagrid" id="tailyList" style="display:none;">
        <thead>
            <tr>
                <th rowspan="2" class="align-middle text-center pt-3 pb-2" style="width:10%;">Miesiąc</th>
                <th colspan="2" class="text-center pt-3 pb-2" style="width:30%;">Limit (liczba przejechanych km x stawka za 1 km)</th>
                <th colspan="2" class="text-center pt-3 pb-2" style="width:30%;">Faktycznie poniesione wydatki</th>
                <th colspan="2" class="text-center pt-3 pb-2" style="width:30%;">Wydatki zaliczone do kosztów</th>
            </tr>
            <tr>
                <th class="text-right pt-3 pb-2">w miesiącu</th>
                <th class="text-right pt-3 pb-2">narastająco</th>
                <th class="text-right pt-3 pb-2">w miesiącu</th>
                <th class="text-right pt-3 pb-2">narastająco</th>
                <th class="text-right pt-3 pb-2">w miesiącu</th>
                <th class="text-right pt-3 pb-2 pr-3">narastająco</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
              <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th class="text-center p-2">
                    <i class="fa fa-angle-up"></i> 
                    <p>Wartość do<br/>zaksięgowania</p>
                </th>
                <th></th>
            </tr>          
        </tfoot>
    </table>

